# Configurações do CodeIgniter
.htaccess
index.php
/application/config/config.php
/application/config/acamps.php
/application/config/database.php
/application/config/email.php

*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess

/*/
/!missao/
/!application/
/!assets/
/!docs/

# Kubuntu
*~*.class
*.pyc
*.pyo

# Windows
Thumbs.db
Desktop.ini

# Aptana
.project