### Build ###
build/

### CodeIgniter ###
logs/*
!logs/index.html
fotos/*
!fotos/index.html
cache/secretaria/*
!cache/secretaria/index.html
cache/*
!cache/index.html
barcode/*
!barcode/index.html

### Composer ###
composer.lock
vendor/

### Sublime Text 2 ###
*.sublime-project
*.sublime-workspace

### Kubuntu ###
*~*.class
*.pyc
*.pyo

### Windows ###
Thumbs.db
Desktop.ini

### Eclipse ###
.project
.buildpath
.jsdtscope
.settings/
.externalToolBuilders/
deployment.properties
deployment.xml