<IfModule mod_rewrite.c>
    RewriteEngine On
	
	# Substitua MISSÃO pelo nome da pasta da sua missão
	RewriteRule ^(?!assets)(.*)$ MISSÃO/$1

</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>