@import "bootstrap/reset.less";
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "bootstrap/scaffolding.less";
@import "bootstrap/layouts.less";
@import "bootstrap/type.less";
@import "bootstrap/forms.less";
@import "bootstrap/tables.less";
@import "bootstrap/buttons.less";
@import "bootstrap/button-groups.less";
@import "bootstrap/dropdowns.less";
@import "bootstrap/alerts.less";
@import "bootstrap/highlights.less";
@import "bootstrap/modals.less";
@import "bootstrap/close.less";
@import "bootstrap/pagination.less";
@import "bootstrap/wells.less";
@import "bootstrap/sprites.less";

@import "bootstrap/utilities.less";

/* Variáveis */
@link: lighten(desaturate(@blueDark, 30%), 10%);

@import "admin/login.less";
@import "admin/base.less";
@import "admin/busca.less";
@import "admin/forms.less";
@import "admin/detalhes.less";
@import "admin/relatorio.less";
@import "admin/secretaria.less";
@import "admin/onibus.less";
@import "admin/financeiro.less";

.well > p:last-child {
	margin-bottom: 0;
}
h2 {
	margin: 16px;
	text-align: center;
}