/*

	Secretaria

*/

.secretaria{
	
	table {
		width: 100%;
		margin-bottom: 24px;
	}
	
	&.participante {
		table {
			width: 64%;
			margin: 0 auto;
		}
	}
	&.visitante{
		width: 520px;
		
		td:last-child{
			text-align: right;
		}
	}
	
	/* Botões devem ocupar toda a célula */
	td > .btn {
		width: 100%;
	}
	
	.etiquetas{
		.inscricao, .cracha, .imprimir{
			width: 1px;
			white-space: nowrap;
			text-align: center;
		}
	}
	
	.sim{
		color: #039B03;
	}
	.nao{
		color: #D3120E;
	}
}
#secretaria .form tr{
	background: none;
}
#secretaria th{
	border-bottom: 1px solid #C8C9CA;
	text-align: left;
	vertical-align: bottom;
}
#secretaria th.center{
	text-align: center;
}
#secretaria td{
	padding: 4px;
	vertical-align: middle;
}
