/* Variables.less
 * Variables to customize the look and feel of Bootstrap
 * ----------------------------------------------------- */
/* Mixins.less
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
/*

	Estilos da Tela de Login

*/
#login {
  border: 1px solid #b8c1cb;
  margin: 100px auto 0;
  padding: 10px 20px;
  width: 300px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  background-color: #f8fafb;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e4ecef), to(#f8fafb));
  background-image: -moz-linear-gradient(top, #e4ecef, #f8fafb);
  background-image: -ms-linear-gradient(top, #e4ecef, #f8fafb);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4ecef), color-stop(100%, #f8fafb));
  background-image: -webkit-linear-gradient(top, #e4ecef, #f8fafb);
  background-image: -o-linear-gradient(top, #e4ecef, #f8fafb);
  background-image: linear-gradient(top, #e4ecef, #f8fafb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4ecef', endColorstr='#f8fafb', GradientType=0);
}
#login #nm_usuario, #login #pw_usuario {
  width: 286px;
}
#login .btn {
  margin-top: 9px;
}
#erro {
  margin: 0 auto;
  padding: 16px 14px 6px;
  width: 160px;
  border: 1px solid #f8a190;
  border-top: none;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #ffffff;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fbcabb), to(#ffffff));
  background-image: -moz-linear-gradient(top, #fbcabb, #ffffff);
  background-image: -ms-linear-gradient(top, #fbcabb, #ffffff);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbcabb), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #fbcabb, #ffffff);
  background-image: -o-linear-gradient(top, #fbcabb, #ffffff);
  background-image: linear-gradient(top, #fbcabb, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbcabb', endColorstr='#ffffff', GradientType=0);
}
#erro p {
  color: #f00;
}
/*

	Variáveis

*/
/*

	Geral

*/
body {
  background-color: #FFFFFF;
}
.wrap {
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #277ed9;
  text-decoration: none;
}
form {
  margin: 0;
}
input,
textarea,
select,
.uneditable-input {
  border-color: #b8b8b8;
}
/*

	Menu

*/
#menu {
  height: 34px;
  padding: 20px 10px 0;
  background-color: #ebebeb;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fafafa), to(#ebebeb));
  background-image: -moz-linear-gradient(top, #fafafa, #ebebeb);
  background-image: -ms-linear-gradient(top, #fafafa, #ebebeb);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #ebebeb));
  background-image: -webkit-linear-gradient(top, #fafafa, #ebebeb);
  background-image: -o-linear-gradient(top, #fafafa, #ebebeb);
  background-image: linear-gradient(top, #fafafa, #ebebeb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ebebeb', GradientType=0);
  border-bottom: 1px solid #cccccc;
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
}
#menu a {
  color: #000000;
}
#menu a:hover {
  color: #277ed9;
}
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
#menu ul li {
  cursor: pointer;
  float: left;
  padding: 8px 16px;
  position: relative;
  text-shadow: 0 1px 0 #ffffff;
}
#menu ul li:hover ul {
  display: block;
}
#menu ul li ul {
  min-width: 150px;
  background-color: #fafafa;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  border: 1px solid #d1d1d1;
  display: none;
  left: -1px;
  position: absolute;
  top: 34px;
  padding-top: 12px;
}
#menu ul li ul li {
  cursor: pointer;
  float: none;
  padding: 0 14px 12px;
  border: none;
}
#menu ul li ul li:hover {
  border: none;
}
#menu .disabled {
  color: #bfbfbf;
}
#usuario {
  position: absolute;
  right: 12px;
  top: 30px;
}
/*

	Página de Busca

*/
#busca {
  height: 26px;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 55px;
  left: 0;
  right: 281px;
}
#consulta {
  width: 500px;
  height: 19px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
#buscar {
  -webkit-border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
}
#resultado {
  position: absolute;
  top: 121px;
  right: 281px;
  left: 0;
  bottom: 0;
  overflow: auto;
  /* Coluna com o tipo de inscrição e a cor da família */

}
#resultado td:last-child {
  text-align: right;
}
.id-p, .id-s, .id-v {
  margin: 0 5px 0 -5px;
  padding: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.id-s.status-2 {
  background-color: #f99c8b;
}
/* Vermelho */
.status-1, .id-v.status-2 {
  background-color: #fff287;
}
/* Amarelo */
.status-3 {
  background-color: #b4f49a;
}
/* Verde */
.tipo-p, .tipo-s, .tipo-v {
  background: #fff;
  border: 1px solid #b3b3b3;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 3px 9px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.familia-a {
  background-color: #fffba6;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fffdd9), to(#fffba6));
  background-image: -moz-linear-gradient(top, #fffdd9, #fffba6);
  background-image: -ms-linear-gradient(top, #fffdd9, #fffba6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffdd9), color-stop(100%, #fffba6));
  background-image: -webkit-linear-gradient(top, #fffdd9, #fffba6);
  background-image: -o-linear-gradient(top, #fffdd9, #fffba6);
  background-image: linear-gradient(top, #fffdd9, #fffba6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdd9', endColorstr='#fffba6', GradientType=0);
  border-color: #e3d900;
}
.familia-b {
  background-color: #a1bdfb;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#d2dffd), to(#a1bdfb));
  background-image: -moz-linear-gradient(top, #d2dffd, #a1bdfb);
  background-image: -ms-linear-gradient(top, #d2dffd, #a1bdfb);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d2dffd), color-stop(100%, #a1bdfb));
  background-image: -webkit-linear-gradient(top, #d2dffd, #a1bdfb);
  background-image: -o-linear-gradient(top, #d2dffd, #a1bdfb);
  background-image: linear-gradient(top, #d2dffd, #a1bdfb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2dffd', endColorstr='#a1bdfb', GradientType=0);
  border-color: #5d8df8;
}
.familia-c {
  background-color: #d0d0d0;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eaeaea), to(#d0d0d0));
  background-image: -moz-linear-gradient(top, #eaeaea, #d0d0d0);
  background-image: -ms-linear-gradient(top, #eaeaea, #d0d0d0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #d0d0d0));
  background-image: -webkit-linear-gradient(top, #eaeaea, #d0d0d0);
  background-image: -o-linear-gradient(top, #eaeaea, #d0d0d0);
  background-image: linear-gradient(top, #eaeaea, #d0d0d0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#d0d0d0', GradientType=0);
  border-color: #acacac;
}
.familia-l {
  background-color: #ffc46f;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffd9a2), to(#ffc46f));
  background-image: -moz-linear-gradient(top, #ffd9a2, #ffc46f);
  background-image: -ms-linear-gradient(top, #ffd9a2, #ffc46f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd9a2), color-stop(100%, #ffc46f));
  background-image: -webkit-linear-gradient(top, #ffd9a2, #ffc46f);
  background-image: -o-linear-gradient(top, #ffd9a2, #ffc46f);
  background-image: linear-gradient(top, #ffd9a2, #ffc46f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9a2', endColorstr='#ffc46f', GradientType=0);
  border-color: #ff9e13;
}
.familia-p {
  background-color: #1e1e1e;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#383838), to(#1e1e1e));
  background-image: -moz-linear-gradient(top, #383838, #1e1e1e);
  background-image: -ms-linear-gradient(top, #383838, #1e1e1e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #383838), color-stop(100%, #1e1e1e));
  background-image: -webkit-linear-gradient(top, #383838, #1e1e1e);
  background-image: -o-linear-gradient(top, #383838, #1e1e1e);
  background-image: linear-gradient(top, #383838, #1e1e1e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#383838', endColorstr='#1e1e1e', GradientType=0);
  border-color: #000000;
  color: #ffffff;
}
.familia-r {
  background-color: #d9a6ff;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#efdaff), to(#d9a6ff));
  background-image: -moz-linear-gradient(top, #efdaff, #d9a6ff);
  background-image: -ms-linear-gradient(top, #efdaff, #d9a6ff);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efdaff), color-stop(100%, #d9a6ff));
  background-image: -webkit-linear-gradient(top, #efdaff, #d9a6ff);
  background-image: -o-linear-gradient(top, #efdaff, #d9a6ff);
  background-image: linear-gradient(top, #efdaff, #d9a6ff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efdaff', endColorstr='#d9a6ff', GradientType=0);
  border-color: #c16eff;
}
.familia-g {
  background-color: #bef59f;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ddfacd), to(#bef59f));
  background-image: -moz-linear-gradient(top, #ddfacd, #bef59f);
  background-image: -ms-linear-gradient(top, #ddfacd, #bef59f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddfacd), color-stop(100%, #bef59f));
  background-image: -webkit-linear-gradient(top, #ddfacd, #bef59f);
  background-image: -o-linear-gradient(top, #ddfacd, #bef59f);
  background-image: linear-gradient(top, #ddfacd, #bef59f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddfacd', endColorstr='#bef59f', GradientType=0);
  border-color: #5ad116;
}
.familia-v {
  background-color: #ff7f69;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffaa9c), to(#ff7f69));
  background-image: -moz-linear-gradient(top, #ffaa9c, #ff7f69);
  background-image: -ms-linear-gradient(top, #ffaa9c, #ff7f69);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffaa9c), color-stop(100%, #ff7f69));
  background-image: -webkit-linear-gradient(top, #ffaa9c, #ff7f69);
  background-image: -o-linear-gradient(top, #ffaa9c, #ff7f69);
  background-image: linear-gradient(top, #ffaa9c, #ff7f69);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaa9c', endColorstr='#ff7f69', GradientType=0);
  border-color: #e95138;
}
#detalhes-min {
  border-left: 1px solid #DDD;
  width: 280px;
  position: absolute;
  top: 55px;
  right: 0;
  bottom: 0;
  z-index: -1;
}
/*

	Página de Detalhes

*/
#cabecalho {
  border-bottom: 1px solid #C8C9CA;
  height: 160px;
  padding: 20px 16px;
  position: relative;
}
#cabecalho h1 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 9px;
}
#foto {
  float: left;
  margin-right: 18px;
}
.comandos {
  position: absolute;
  top: 14px;
  right: 14px;
  bottom: 14px;
}
.liberacao,
.pagamento,
.boleto,
.excluir {
  display: block;
  margin-bottom: 10px;
  padding: 5px 0 5px 25px;
  width: 140px;
}
.excluir {
  font-size: 11px;
  padding: 1px 0 1px 20px;
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 88px;
}
.liberacao:before,
.pagamento:before,
.boleto:before,
.excluir:before {
  content: ' ';
  display: block;
  height: 16px;
  width: 16px;
  position: absolute;
  left: 5px;
}
.liberacao:before {
  background: url('../image/icon-lib-16.png') no-repeat;
}
.pagamento:before {
  background: url('../image/icon-money-16.png') no-repeat;
}
.boleto:before {
  background: url('../image/icon-printer-16.png') no-repeat;
}
.excluir:before {
  background: url('../image/icon-x-10.png') 1px 3px no-repeat;
}
span.pagamento, span.liberacao {
  /* Se for <span>, ao invés de <a>, quer dizer que está desabilitado */

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
}
#dados h2 {
  margin: 16px;
  text-align: center;
}
#dados th {
  text-align: right;
}
#dados th, #dados td {
  padding-top: 4px;
  padding-bottom: 4px;
  vertical-align: middle;
}
#dados input[type=text][disabled], #dados select[disabled] {
  background: transparent;
  border: none;
  margin: 1px;
  box-shadow: none;
  cursor: default;
}
#ativar-correcao, #reset {
  margin: 0 16px;
}
#popup {
  width: 300px;
  margin: -150px 0 0 -150px;
}
/*

	Formulário de Pagamento

*/
#pagamento th, #pagamento td {
  padding-top: 4px;
  padding-bottom: 4px;
  vertical-align: middle;
}
/*

	Formulários de Inscrição

*/
#form {
  left: inherit;
  margin: 0 auto;
  padding-bottom: 24px;
  right: inherit;
  width: 640px;
  position: relative;
}
#form h2 {
  text-align: center;
  margin: 24px 0;
}
#form .importante {
  background-color: #daeff6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #c7e0e9;
  padding: 18px 18px 0;
  margin: 0 -18px 18px;
}
#form .input {
  margin-left: 200px;
}
label {
  width: 180px;
}
/*

	Secretaria

*/
/*#secretaria h2{
	margin: 16px;
	text-align: center;
}*/
#secretaria .form {
  width: 400px;
  margin: 0 auto;
}
#secretaria .form table {
  margin: 16px auto;
}
#secretaria .form tr {
  background: none;
}
#secretaria th {
  border-bottom: 1px solid #C8C9CA;
  text-align: left;
  vertical-align: bottom;
}
#secretaria th.center {
  text-align: center;
}
#secretaria td {
  padding: 4px;
  vertical-align: middle;
}
#secretaria .sim {
  color: #039B03;
}
#secretaria .nao {
  color: #D3120E;
}
