/*
 * Geral
 */
body{
    background-color: #FFFFFF;
}
.wrap{
	position: absolute;
	top: 61px;
	left: 0;
	right: 0;
}
a { color: #000; text-decoration:none; }
a:hover { color: #406392; text-decoration:none; }
h2{
	font-size: 15px;
	font-weight: bold;
	margin: 0.3em 0 0.7em;
}
table{
	
}
th, td{
	padding: 6px;
}
tr:nth-child(2n){
	background: #f0f0f0;
}
.left{ float: left; }
.right{ float: right; }
input[type=text], input[type=password], input[type=text][disabled], input[type=password][disabled], .textfield{
    border: 1px solid #868686;
    padding: 4px;
    
     -moz-box-shadow: inset 0px 2px 5px rgba(0,0,0,.15); 
  -webkit-box-shadow: inset 0px 2px 5px rgba(0,0,0,.15); 
          box-shadow: inset 0px 2px 5px rgba(0,0,0,.15); 
     -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
          border-radius: 3px; 
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
input[type=text]:hover, input[type=password]:hover,
input[type=text]:focus, input[type=password]:focus{
    border-color: #000;
}
input[type=button], input[type=submit], input[type=reset]{
	padding: 4px 5px;
	border: 1px solid #909090;
	   -moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	        border-radius: 3px; 
	background-color: #BDC6D2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#BDC6D2), to(#E6ECF1)); 
	background-image: -webkit-linear-gradient(top, #BDC6D2, #E6ECF1); 
	background-image:    -moz-linear-gradient(top, #BDC6D2, #E6ECF1); 
	background-image:     -ms-linear-gradient(top, #BDC6D2, #E6ECF1); 
	background-image:      -o-linear-gradient(top, #BDC6D2, #E6ECF1); 
	background-image:         linear-gradient(top, #BDC6D2, #E6ECF1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#BDC6D2', EndColorStr='#E6ECF1');
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover{
	border-color: #000;
}
input[type=button]:active, input[type=submit]:active, input[type=reset]:active{
	border-color: #000;
	outline: none;
	background-color: #E6ECF1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E6ECF1), to(#BDC6D2)); 
	background-image: -webkit-linear-gradient(top, #E6ECF1, #BDC6D2); 
	background-image:    -moz-linear-gradient(top, #E6ECF1, #BDC6D2); 
	background-image:     -ms-linear-gradient(top, #E6ECF1, #BDC6D2); 
	background-image:      -o-linear-gradient(top, #E6ECF1, #BDC6D2); 
	background-image:         linear-gradient(top, #E6ECF1, #BDC6D2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#E6ECF1', EndColorStr='#BDC6D2'); 
}
/* Deixando os botões desabilitados sem efeitos de 'hover' e 'active' */
input[type=button][disabled], input[type=submit][disabled], input[type=reset][disabled],
input[type=button][disabled]:hover, input[type=submit][disabled]:hover, input[type=reset][disabled]:hover,
input[type=button][disabled]:active, input[type=submit][disabled]:active, input[type=reset][disabled]:active{
	border: 1px solid #AFAFAF;
	background-color: #BDC6D2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#BDC6D2), to(#E6ECF1)); 
	background-image: -webkit-linear-gradient(top, #BDC6D2, #E6ECF1); 
	background-image:    -moz-linear-gradient(top, #BDC6D2, #E6ECF1); 
	background-image:     -ms-linear-gradient(top, #BDC6D2, #E6ECF1); 
	background-image:      -o-linear-gradient(top, #BDC6D2, #E6ECF1); 
	background-image:         linear-gradient(top, #BDC6D2, #E6ECF1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#BDC6D2', EndColorStr='#E6ECF1');
}
/*
 * Login
 */
#login{

  background-color: #eef1f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eef1f5), to(#f9fafb)); 
  background-image: -webkit-linear-gradient(top, #eef1f5, #f9fafb); 
  background-image:    -moz-linear-gradient(top, #eef1f5, #f9fafb); 
  background-image:     -ms-linear-gradient(top, #eef1f5, #f9fafb); 
  background-image:      -o-linear-gradient(top, #eef1f5, #f9fafb); 
  background-image:         linear-gradient(top, #eef1f5, #f9fafb);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eef1f5', EndColorStr='#f9fafb'); 

     -moz-box-shadow: inset 0px 1px 0px #F9FAFB; 
  -webkit-box-shadow: inset 0px 1px 0px #F9FAFB; 
          box-shadow: inset 0px 1px 0px #F9FAFB; 

    border: 1px solid #C7CED6;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 100px auto 0;
    padding: 10px 20px;
    width: 300px;
}
#erro{
    color: #f00;
    font-weight: bold;

  background-color: #ffcec3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcec3), to(#feede9)); 
  background-image: -webkit-linear-gradient(top, #ffcec3, #feede9); 
  background-image:    -moz-linear-gradient(top, #ffcec3, #feede9); 
  background-image:     -ms-linear-gradient(top, #ffcec3, #feede9); 
  background-image:      -o-linear-gradient(top, #ffcec3, #feede9); 
  background-image:         linear-gradient(top, #ffcec3, #feede9);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffcec3', EndColorStr='#feede9'); 

    border: 1px solid #F2583A;
    border-top:none;
    -moz-border-radius-bottomleft: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0 auto;
    padding: 10px 14px 14px;
    width: 200px;
}
#nm_usuario, #pw_usuario{
    font-size: 15px;
    margin-bottom: 10px;
    padding: 6px;
    width: 286px;
}
#login label{
    display: inline-block;
    margin: 0 0 4px 10px;
    color: #336D19;
}
/*
 * Menu
 */
menu{
	height: 34px;
	padding: 26px 10px 0;
	border-bottom: 1px solid #FFFFFF;
	position: fixed;
	top:0;
	right:0;
	left:0;
	z-index: 99;

  background-color: #d3d3d3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#f4f4f4)); 
  background-image: -webkit-linear-gradient(top, #d3d3d3, #f4f4f4); 
  background-image:    -moz-linear-gradient(top, #d3d3d3, #f4f4f4); 
  background-image:     -ms-linear-gradient(top, #d3d3d3, #f4f4f4); 
  background-image:      -o-linear-gradient(top, #d3d3d3, #f4f4f4); 
  background-image:         linear-gradient(top, #d3d3d3, #f4f4f4);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#d3d3d3', EndColorStr='#f4f4f4'); 

     -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.5); 
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.5); 
          box-shadow: 0px 0px 3px rgba(0,0,0,0.5); 
 
}
#usuario{
	position: absolute;
	right: 26px;
	top:10px;
}
menu ul { list-style:none; margin:0; padding:0; white-space: nowrap;}
    menu>ul>li {
        cursor:pointer;
        float:left;
        padding: 8px 16px;
        position:relative;
        z-index: 99;
    }
    menu>ul>li:hover {
        background-color: #E4F4CB;
    }
        menu>ul>li:hover>ul{
            display: block;
        }
        menu>ul>li>ul {
            background-color:#fff;
            
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;

            -moz-border-radius-topleft: 0;
            -webkit-border-top-left-radius: 0;
            border-top-left-radius: 0;
            
            -moz-border-radius-topright: 0;
            -webkit-border-top-right-radius: 0;
            border-top-right-radius: 0;

            border: 1px solid #69A438;
            border-top: none;
            
            display:none;
            float:left;
            left:-1px;
            position:absolute;
            top:32px;
            /*width:100px;*/
        }
            menu>ul>li>ul>li {
                cursor:pointer;
                padding: 5px 10px;
            }
            menu>ul>li>ul>li:hover{
                background-color: #E4F4CB;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                border-radius: 4px;
            }
/*
 * Página de Busca
 */
#buscar{
	border-bottom: 1px solid #C8C9CA;
	height: 26px;
	padding: 17px 30px;
	position: absolute;
	top: 61px;
	left: 0;
	right: 281px;
}
	#buscar input[type=text]{
		padding: 5px;
		width: 70%;
		
		-moz-border-radius-topright: 0;
        -webkit-border-top-right-radius: 0;
        border-top-right-radius: 0;
        -moz-border-radius-bottomright: 0;
        -webkit-border-bottom-right-radius: 0;
        border-bottom-right-radius: 0;
	}
	#buscar input[type=submit]{
		padding: 5px 14px;
		height: 28px;
		   -moz-border-radius: 14px;
		-webkit-border-radius: 14px;
		        border-radius: 14px;
		-moz-border-radius-topleft: 0;
        -webkit-border-top-left-radius: 0;
        border-top-left-radius: 0;
        -moz-border-radius-bottomleft: 0;
        -webkit-border-bottom-left-radius: 0;
        border-bottom-left-radius: 0;
	}
	
#resultado{
	position: absolute;
	top: 121px;
	right: 281px;
	left: 0;
	bottom: 0;
	overflow: auto;
}
	#resultado td:last-child{text-align: right;}
	.id-p, .id-s, .id-v{
		margin: -6px 6px -6px -6px;
		padding: 6px;
	}
		.id-s.status-2 {background-color: rgba(255,0,0,.2);} /* Vermelho */
		.status-1, .id-v.status-2 {background-color: rgba(255,215,0,.2);} /* Amarelo */
		.status-3 {background-color: rgba(0,170,0,.2);} /* Verde */
	
	.tipo-p, .tipo-s, .tipo-v{
		background: #fff;
		border: 1px solid #000000;
		padding: 2px 6px;
	       -moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		        border-radius: 5px;
	}
	
	.familia-a {background-color: #fffba6; border-color: #e0cf3e;}
	.familia-b {background-color: #a1bdfb; border-color: #88a2c9;}
	.familia-c {background-color: #d0d0d0; border-color: #aaaaaa;}
	.familia-l {background-color: #ffc46f; border-color: #ff9308;}
	.familia-p {background-color: #1e1e1e; border-color: #000000; color: #FFF;}
	.familia-r {background-color: #e4c0ff; border-color: #c29fd6;}
	.familia-g {background-color: #b0f59f; border-color: #96d685;}
	.familia-v {background-color: #ffa29c; border-color: #e86a6a;}
	
#detalhes-min{
	background-color: #DDEDF3;
	border-left: 1px solid #C8C9CA;
	width: 280px;
	position: absolute;
	top: 61px;
	right: 0;
	bottom: 0;
	z-index: -1;
}
/*
 * Página de Detalhes
 */
#detalhes #cabecalho{
	border-bottom: 1px solid #C8C9CA;
	height: 160px;
	padding: 20px 16px;
	position: relative;
}
	#adicionar-foto{
		float: left;
		margin-right: 16px;
	}
	.comandos{
		position: absolute;
		top: 10px;
		right: 10px;
		bottom: 10px;
	}
		.liberacao, .pagamento, .boleto, .excluir{
			border: 1px solid #909090;
			border-radius: 6px;
			display: block;
			margin-bottom: 4px;
			padding: 3px 4px 3px 25px;
			text-shadow: 0px 1px 0px #fff;
			width: 140px;
			 
			background-color: #d8d8d8;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d8d8d8));
			background-image: -webkit-linear-gradient(top, #ffffff, #d8d8d8);
			background-image:    -moz-linear-gradient(top, #ffffff, #d8d8d8);
			background-image:     -ms-linear-gradient(top, #ffffff, #d8d8d8);
			background-image:      -o-linear-gradient(top, #ffffff, #d8d8d8);
			background-image:         linear-gradient(top, #ffffff, #d8d8d8);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#d8d8d8', EndColorStr='#ffffff');
		}
		.excluir{
			border-color: #8D4A46;
			padding: 1px 0 1px 20px;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 114px;
			background-color: #ffffff;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#FFB8AE)); 
			background-image: -webkit-linear-gradient(top, #ffffff, #FFB8AE); 
			background-image:    -moz-linear-gradient(top, #ffffff, #FFB8AE); 
			background-image:     -ms-linear-gradient(top, #ffffff, #FFB8AE); 
			background-image:      -o-linear-gradient(top, #ffffff, #FFB8AE); 
			background-image:         linear-gradient(top, #ffffff, #FFB8AE);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#FFB8AE'); 
		}
		a.excluir:hover{
			color: #8D4A46;
		}
		.liberacao:before, .pagamento:before, .boleto:before, .excluir:before{
			content: ' ';
			display: block;
			height:16px;
			width:16px;
			position: absolute;
			left: 5px;
		}
		.liberacao:before{
			background: url('../image/icon-lib-16.png') no-repeat;
		}
		.pagamento:before{
			background: url('../image/icon-money-16.png') no-repeat;
		}
		.boleto:before{
			background: url('../image/icon-printer-16.png') no-repeat;
		}
		.excluir:before{
			background: url('../image/icon-x-10.png') 1px 3px no-repeat;
		}
		span.pagamento, span.liberacao{
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
			filter: alpha(opacity=40);
			-moz-opacity: 0.4;
			-khtml-opacity: 0.4;
			opacity: 0.4;
		}
#dados h2{
	margin: 16px;
	text-align: center;
}
#dados th, #dados td{
	padding: 0;
	height: 32px;
	vertical-align: middle;
}
#dados th{
	text-align: right;
	padding-right: 10px;
}
#ativar-correcao, #reset{
	margin: 0 16px;
}
#dados input[type=text]{
	width: 60%;
	min-width: 400px;
}
#dados input[type=text][disabled]{
	color: #000;
	background: transparent;
	border: none;
	margin: 1px;
	box-shadow: none;
}
.popup{
	background: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0px 0px 18px #000;
	padding: 16px;
	position: fixed;
	z-index: 999;
}
/*
 * Formulários de Inscrição
 */
#form{
	padding: 16px;
}
#form h2{
	text-align: center;
}
#form .importante{
	background-color: #DDEDF3;
	border-radius: 10px;
	border: 1px solid #AFCDD8;
	padding: 10px;
	margin: 0 -10px;
}
#form label.campo{
	display: block;
	margin-top: 10px;
}
#form input[type=text]{
	width: 500px;
}
#form #dt_nascimento{
	width: 120px;
}
#form #nr_telefone, #form #nr_emergencia1, #form #nr_emergencia2{
	width: 240px;
}
#form input[type=submit]{
	margin-top: 16px;
}
/*
 * Secretaria
 */
#secretaria h2{
	margin: 16px;
	text-align: center;
}
#secretaria .form{
	width: 400px;
	margin: 0 auto;
}
#secretaria .form table{
	margin: 16px auto;
}
#secretaria .form tr{
	background: none;
}
#secretaria th{
	border-bottom: 1px solid #C8C9CA;
	text-align: left;
	vertical-align: bottom;
}
#secretaria th.center{
	text-align: center;
}
#secretaria td{
	padding: 4px;
	vertical-align: middle;
}
#secretaria .sim{
	color: #039B03;
}
#secretaria .nao{
	color: #D3120E;
}
