/* Estilos da p�gina de inscri��es */
body{
    background: url('../image/mosaico.jpg');
    margin: 16px 0;
}
body.v80{
	background: url('../image/mosaico80.jpg');
}
a { color: #000; text-decoration:none; }
a:hover { color: #9a810b; }
.wrap {
    margin: 0 auto;
    width: 800px;
    position: relative;
}
    header {
	
    }
	#logo {
	    background-image: url("../image/acamps_logo2.png");
	    width: 369px;
	    height: 106px;
	    margin: 0;
	}
	#logo.home {
	    background-image: url("../image/acamps_logo2.png");
	    width: 369px;
	    height: 136px;
	    margin: 105px 0 60px -8px;
	}
		#logo a{
			display: block;
			width: 100%;
			height: 100%;
		}
	#participante {
		background-image: url("../image/inscreva-se.png");
	    width: 395px;
	    height: 83px;
	    position: absolute;
	    top: 26px;
	    right: -7px;
	}
    footer{
		margin: 1em 0 0;
		font-style: italic;
		text-shadow: 1px 1px 0px #fff;
    }
    #conteudo {
		padding: 30px;
		background: #fff; background: rgba(255,255,255,.9);
		border: 2px solid #000;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
    }
		#conteudo nav ul{
			margin: -30px 0 20px -30px;
		    float: left;
		}
			nav a{
				font-size: 1.1em;
				font-family: verdana;
			}
		    nav li{
				float: left;
				padding: 8px 20px;
		    }
		#conteudo ul { margin: 0 0 1em 30px; }
		#conteudo ol { margin: 0 0 1em 30px; list-style-type: decimal; }
    
    h1, h2, h3{
		font-family: 'Arvo', verdana;
		text-shadow: 1px 1px 2px rgba(0,0,0, 0.3);
		margin: 0 0 1em;
    }
    h2{
        font-size: 1.8em;
		text-align: center;
		font-weight: normal;
    }
    h3{
        font-size: 1.3em;
        text-align: left;
    }
    hr {
        height: 0;
        border: 0 none;
        border-top: 1px solid #9DBC87;
        margin: 30px 0;
    }
	#cartaz{
	    float: left;
	    margin-right: 30px;
	}
	#form-links{
	    font-size: 140%;
	    text-shadow: 1px 1px 2px rgba(0,0,0, 0.7);
	}
		#form-links p{
			margin-bottom: 0.5em;
		}
	    .adote-um-jovem{
	    	font-size: 120%;
	    }
	#boleto{
	    font-weight: bold;
	    padding: 6px 10px;
	}
    #info { font-size: 13px; }
    #info p{ margin: 0 0 1em 0; }
    #form {
        padding: 0 14%;
    }
        #form p {
            position: relative;
        }
        #form label.campo{
            display: inline-block;
            text-align:left;
            vertical-align: middle;
			padding-top: 14px;
        }
        input[type=text], select{
            width: 99%;
            border: 1px solid #94BA75;
            padding: 4px 2px;
			-moz-box-shadow: 0px 0px 2px rgba(0,0,0, 0.3);
			-webkit-box-shadow: 0px 0px 2px rgba(0,0,0, 0.3);
			box-shadow: 0px 0px 2px rgba(0,0,0, 0.3);
        }
		input[type=text]:hover, input[type=text]:focus,
		select:hover, select:focus{
			border-color: #66914D;
			background-color: #EFFFE5;
		}
        #form input[type=text].short , #form select{
            width: 30%;
        }
        #form #dt_nascimento{
			width: 160px;
		}
        #form input[type=radio]{
            margin: 7px 0;
            vertical-align: middle;
        }
        #form .ajuda_icone{
            display: inline-block;
            position: relative;
            /* left: -18px; */
            /* margin-right: -18px; */
            background: url(../image/ajuda2.png) no-repeat;
            width: 18px;
            height: 18px;
            vertical-align: middle;
            cursor: pointer;
        }
		#form .campo  + .ajuda_icone{
			vertical-align: bottom;
		}
        #form .ajuda_texto{
            display: none;
            position: absolute;
			float: left;
            font-size: .9em;
            width: 40%;
            background-color: #d7e7fCBFF93          border: 1px solid #6B97BF;
            padding: 8px;
            top: 200%;
            left: 0;
            z-index:2;
        }
		#form .erro{
			background-color:#FFDFB9;
		}
		#form .erro_inline{
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 101%;
            white-space: nowrap;
            padding: 4px 6px;
            background-color:#FFDFB9;
            color: #CE0000;
            border: 1px solid #CE0000;
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
            border-radius: 20px;
        }
        #form .erro_onsubmit{
            background-color: #FFDFB9;
            border: 2px solid #CE0000;
            margin: 9px;
            padding: 0 8px;
            color: #9D0606;
        }
        #form .erro_onsubmit p{
			margin: 8px 0;
	    }
        .info {
            background-color: #d7e7ff;
            border: 1px solid #6896da;
            margin: 9px 0;
            padding: 8px;
        }
		.aviso {
            background-color: #F9FFBF;
            border: 1px solid #FFD11C;
            margin: 9px 0;
            padding: 8px;
        }
	input[type=submit], input[type=button], .button {
	    margin-top: 30px;
	    padding: 6px 22px;
	    cursor: pointer;
	    background-color: #6BB223;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#6BB223), to(#AFF469)); 
		background-image: -webkit-linear-gradient(top, #6BB223, #AFF469); 
		background-image:    -moz-linear-gradient(top, #6BB223, #AFF469); 
		background-image:     -ms-linear-gradient(top, #6BB223, #AFF469); 
		background-image:      -o-linear-gradient(top, #6BB223, #AFF469); 
		background-image:         linear-gradient(top, #6BB223, #AFF469);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#6BB223', EndColorStr='#AFF469');
        border: 1px solid #000;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        border-radius: 100px;
        -moz-box-shadow: 2px 2px 5px rgba(0,0,0, 0.2);
        -webkit-box-shadow: 2px 2px 5px rgba(0,0,0, 0.2);
        box-shadow: 2px 2px 5px rgba(0,0,0, 0.2);
	}
	input[type=submit]:hover, input[type=button]:hover, .button:hover{
	    background-color: #9DE554;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#9DE554), to(#E3FFC6)); 
		background-image: -webkit-linear-gradient(top, #9DE554, #E3FFC6); 
		background-image:    -moz-linear-gradient(top, #9DE554, #E3FFC6); 
		background-image:     -ms-linear-gradient(top, #9DE554, #E3FFC6); 
		background-image:      -o-linear-gradient(top, #9DE554, #E3FFC6); 
		background-image:         linear-gradient(top, #9DE554, #E3FFC6);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#9DE554', EndColorStr='#E3FFC6');
	    text-shadow: 0px 0px 2px #fff;
	    color: #000000;
	}
    #sucesso{
	
    }
	#foto{
	    float: left;
	    margin-right: 16px;
	}
